@tailwind base;
@tailwind components;
@tailwind utilities;



/* body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.noise-wrapper {
  overflow-x: hidden;
}

.flex.relative.min-h-screen {
  width: 100%;
} */


@layer base {
  body {
    color: #fff;
  }
}

@layer utilities {
  .animate-noise {
    animation: noise 1s steps(8,end) infinite both;
  }
}

@keyframes noise {
  0% { transform: translate(0px, 0px); }
  10% { transform: translate(-100px, 100px); }
  20% { transform: translate(150px, -100px); }
  30% { transform: translate(-100px, 100px); }
  40% { transform: translate(100px, -150px); }
  50% { transform: translate(-100px, 200px); }
  60% { transform: translate(-200px, -100px); }
  70% { transform: translate(50px, 100px); }
  80% { transform: translate(100px, -150px); }
  90% { transform: translate(0px, 200px); }
  100% { transform: translate(-100px, 100px); }
}


@keyframes borderLoop {
  0%, 100% { 
    left: -6px; 
    top: 0; 
  }
  25% { 
    left: -6px; 
    top: calc(100% - 6px); 
  }
  50% { 
    left: calc(100% - 6px); 
    top: calc(100% - 6px); 
  }
  75% { 
    left: -6px; 
    top: calc(100% - 6px); 
  }
}

.animate-border-loop {
  animation: borderLoop 16s linear infinite;
}


@keyframes jump {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}
.animate-jump {
  animation: jump 1s ease-in-out infinite;
}
.hover\:animate-none:hover {
  animation: none;
}



